.f1 {
    width:614px;
    height:500px;
    display: inline-block;
    text-align: center;
    background-color: rgb(48, 204, 204)
    ;
  }
  .f2 {
    width: 613px;
    height:500px;
    display:inline-block;
    text-align: center;
    background-color: rgb(48, 204, 204);
    margin-left: -4px
    
  }

.f3 {
   width: 660px;
   height:500px;
    display:inline-block;
    text-align: center;
    background-color: rgb(48, 204, 204);
    margin-left: -4px
    
  }
  body{
    background-color: rgb(0, 0, 0);
    
  }
  .e2 {
    background-color: aquamarine;
    text-align: center;
    position: relative;
    height: 30px;
  
    
  }
  
  .l1{
    z-index: 100;
    background-color: brown;
    position: fixed;
    width: 100%;
    margin: 0%;
    border: 0%;
    top: 0%;

  }
  
  .n1{
    z-index: 85;
    width: 100%;
    height: 85px;
    background-color: brown;
    position: fixed;
    text-align: center;
  }
  .g1{
    display: inline-block;
    width: 300px;
    height: 900px;
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
    background-color: rgb(238, 6, 188);
  }
  .g2{
    display: inline-block;
    width: 1240px;
    height: 900px;
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    background-color: rgb(10, 177, 60);
  }
  .g3{
    display: inline-block;
    width: 339px;
    height: 900px;
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
    background-color: rgb(238,6,188);
  }
.a1{
text-align: center;
background-color: red;
position: relative;
top: 85px;
}
.b1{
  position: relative;
  TOP: 65px;
  margin-top: 0px;
  margin-bottom: 65px;
  background-color: yellowgreen;
  text-align: justify;
}
#diferenciais{
  background-color: blue;
  text-align: center;
  position: relative;
  top:-20PX;
}
.h4{
text-align: center;
}
.one{
  width: 1247px;
  height: 612px;
  background-color: green;
  position: absolute;
}
.z1{
  position:relative;
  top: 65px;
}
.p9{ 
  display: inline-block;
  width: 640px;
  height: 427px;
  background-image:url("lambo.jpg");
  position: relative;
  bottom:65px;
  left: 606px;
  

}
.p8{
  inline-size: auto;
  width: 446px;
  background-color: blueviolet;
  position: relative;
  top: 409px;
  left: 1370px;
}
.p7{
  display: inline-block;
  background-color: blue;
  position: relative;
  left: 1248px;
  bottom:45px;
width: 638px;
height: 80px;
text-align: center;
}

footer{
  position: relative;
  background-color: brown;
  width: 100%;
  height: 150px;
  text-align: center;
}